[DEFAULT]
#零一大模型
YI_VISION_API = YOUR_API_TOKEN 
#智谱
ZHIPU_API = YOUR_API_TOKEN 
#百度千帆appbuilder
APP_BUILDER_API = YOUR_API_TOKEN 
DEV_VIDEO = /dev/video0
MYCOBOT_BAUD = 115200

[Carlibration]
POINT1 = (-95.4, -237.3)
POINT2 = (128.0, -109.8)

[MYCOBOT]
#俯拍角度
TOP_VIEW_ANGLES = -89.91, -20.74, -23.46, -46.75, 0.61, 132.01
#夹取高度
HEIGHT_END = 90
#运送高度
HEIGHT_SAFE = 220
#移动到指定坐标时的rx,ry,rz值
COORDS_R = 178.22, -0.23, -39.98